%h2 Sign Up: Join the Cause

= form_for(resource,
  :as => resource_name,
  :url => registration_path(resource_name),
  :html => {:class => "auth"}) do |f|
  = devise_error_messages!
  .fields
    = f.label :email
    = f.text_field :email
  .fields
    = f.label :first_name
    = f.text_field :first_name
  .fields
    = f.label :last_name
    = f.text_field :last_name
  .fields
    = f.label :display_name
    %i (how others will see you)
    = f.text_field :display_name

  %br
  .fields
    = f.label :password
    = f.password_field :password
  .fields
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  .fields= f.submit "Sign up"
= render :partial => "devise/shared/links"
