%div[article]
  - if article.categorized?
    .active_category= link_to article.category_name, article.category
  - else
    .active_category= link_to "Uncategorized", uncategorized_articles_path
  = link_to article.title, article_path(article), :class => "title"
  %p.info
    .author= article.author_name
    .date= article.created_date
    .comments= comments_link(article)
  .teaser= markdown(article.teaser)
