= stylesheet_link_tag "articles/shared"

.resource_links
  = link_to "Cancel", @article, :id => "cancel_editing"
= nested_form_for @article, :html => { :multipart => true } do |f|
  = f.error_messages
  .fields
    = f.label :title
    = f.text_field :title
  .fields
    = f.label :category
    = f.collection_select :category_id, Category.all, :id, :title, {:include_blank => "Uncategorized"}
  .fields
    = f.label :body
    = f.text_area :body

  = f.fields_for :attachments do |attachment_form|  
    - if attachment_form.object.new_record?
      .fields
        = attachment_form.label :title
        = attachment_form.text_field :title 
      .fields
        = attachment_form.label :description
        = attachment_form.text_field :description 
      .fields
        = attachment_form.label :asset
        = attachment_form.file_field :asset 
      .fields
        = attachment_form.link_to_remove "Remove this attachment" 

    - unless attachment_form.object.new_record?
      .fields
        = attachment_form.label :title
        = attachment_form.text_field :title 
      .fields
        = attachment_form.label :description
        = attachment_form.text_field :description 
      .fields
        = attachment_form.label :_destroy
        = attachment_form.check_box :_destroy

      = attachment_form.object.asset_url
      = image_tag attachment_form.object.asset.thumb.url
  .fields
    = f.submit
    = f.link_to_add "Add attachment", :attachments 
