= stylesheet_link_tag "articles/shared"

.resource_links
  = link_to "Cancel", @article, :id => "cancel_editing"
= form_for @article do |f|
  .fields
    = f.label :title
    = f.text_field :title
  .fields
    = f.label :category
    = f.collection_select :category_id, Category.all, :id, :title, {:include_blank => "Uncategorized"}
  .fields
    = f.label :body
    = f.text_area :body
  .fields
    = f.submit
