= stylesheet_link_tag "articles/shared"

.resource_links
  = link_to "Cancel", @article, :id => "cancel_editing"
= nested_form_for @article, :html => { :multipart => true } do |f|
  = f.error_messages
  .fields
    = f.label :title
    = f.text_field :title
  .fields
    = f.label :category
    = f.collection_select :category_id, Category.all, :id, :title, {:include_blank => "Uncategorized"}
  .fields
    = f.label :body
    = f.text_area :body

  = f.fields_for :attachments do |attachment_fields|
    - if attachment_fields.object.new_record?
      .fields
        = attachment_fields.label :asset, ""
        = attachment_fields.file_field :asset
  = f.fields_for :attachments do |attachment_fields|
    - unless attachment_fields.object.new_record?
      .fields
        %br
        = link_to image_tag(attachment_fields.object.asset.thumb.url), attachment_fields.object.asset.url
        %br
        = link_to "Original", attachment_fields.object.asset.url
        %br
        = link_to "Thumb", attachment_fields.object.asset.thumb.url, :class => "thumb_link"

        %br
        = attachment_fields.label :_destroy
        = attachment_fields.check_box :_destroy
  .fields
    = f.submit
