= stylesheet_link_tag "articles/shared"

.resource_links
  = link_to "Cancel", @article, :id => "cancel_editing"
= form_for @article, :html => { :multipart => true } do |f|
  .fields
    = f.label :title
    = f.text_field :title
  .fields
    = f.label :category
    = f.collection_select :category_id, Category.all, :id, :title, {:include_blank => "Uncategorized"}
  .fields
    = f.label :body
    = f.text_area :body
  = f.fields_for :assets do |asset_fields|
    - if asset_fields.object.new_record?
      .fields
        = asset_fields.label :asset, ""
        = asset_fields.file_field :asset
  = f.fields_for :assets do |asset_fields|
    - unless asset_fields.object.new_record?
      .fields
        %br
        = link_to image_tag(asset_fields.object.asset.url(:small)), asset_fields.object.asset.url(:original)
        %br
        = link_to "Original", asset_fields.object.asset.url(:original)
        %br
        = link_to "Large", asset_fields.object.asset.url(:large), :class => "large_asset"
        %br
        = link_to "Medium", asset_fields.object.asset.url(:medium), :class => "medium_asset"
        %br
        = link_to "Small", asset_fields.object.asset.url(:small), :class => "small_asset"
        %br
        = asset_fields.label :_destroy
        = asset_fields.check_box :_destroy
  .fields
    = f.submit
