= stylesheet_link_tag "articles/shared"

%div[@article]
  - if @article.categorized?
    .active_category= link_to @article.category_name, @article.category
  - else
    .active_category= link_to "Uncategorized", uncategorized_articles_path
  = link_to @article.title, @article, :class => "title"
  .resource_links
    - if can? :destroy, @article
      = button_to "Delete", @article, :method => :delete, :class => :destroy
    - if can? :edit, @article
      = link_to "Edit", edit_article_path(@article), :class => "edit"
  %p.body= @article.body

#comments
  %h2 Comments
  = render :partial => @comments
  = form_for [@article, @comment] do |f|
    .fields
      = f.label :body, "Comment"
      = f.text_area :body
    = f.submit
