= stylesheet_link_tag "articles/shared"

%div[@article]
  = link_to @article.title, @article, :class => "title"
  .resource_links
    = button_to "Delete", @article, :method => :delete, :class => :destroy
    = link_to "Edit", edit_article_path(@article)
  %p.body= @article.body

#comments
  = form_for [@article, @comment] do |f|
    = f.label :body, "Comment"
    = f.text_area :body
    = f.submit
