%h2 Resend unlock instructions
= form_for(resource,
  :as => resource_name,
  :url => unlock_path(resource_name),
  :html => { :method => :post, :class => "auth"}) do |f|
  = devise_error_messages!
  .fields
    = f.label :email
    = f.text_field :email
  .fields= f.submit "Resend unlock instructions"
= render :partial => "devise/shared/links"
