%tr{:class => cycle("odd", "even"), :name => "user rows"}[user]
  %td.email= link_to user.email, edit_user_path(user), :class => "edit"
  %td.role= user.role
  %td.first_name= user.first_name
  %td.last_name= user.last_name
  %td.last_sign_in_at= user.last_sign_in_at
  %td.last_sign_in_ip= user.last_sign_in_ip
  %td.failed_attempts= user.failed_attempts
