= stylesheet_link_tag "categories/shared"
%div[@category]
  .title= @category.title
  .description= @category.description
  .resource_links
    - if can? :edit, @category
      = link_to "Edit", edit_category_path(@category), :class => "edit"
    - if can? :destroy, @category
      = button_to "Delete", @category, :method => :delete, :class => :destroy
  .articles= render @category.articles
