%div[@category]
  .title= @category.title
  .description= @category.description
  .resource_links
    = link_to "Edit", edit_category_path(@category), :class => "edit"
    = button_to "Delete", @article, :method => :delete, :class => :destroy
  .articles= render @category.articles
