.navigation.primary
  %ul.articles
    %li.title= link_to "Articles", articles_path, :class => "articles title"
    %li= link_to "Index", articles_path, :class => "articles"
    %li= link_to "New", new_article_path, :class => "new_article"
  %ul.categorys
    %li.title= link_to "Categories", categories_path, :class => "categories title"
    %li= link_to "Index", categories_path, :class => "categories"
    %li= link_to "New", new_category_path, :class => "new_category"
