
%html
  %head
    %title Contented
    = stylesheet_link_tag "layouts/application"
    = stylesheet_link_tag "errors"
    = stylesheet_link_tag "forms"
    = stylesheet_link_tag "nav"
    = stylesheet_link_tag "flash"
    = javascript_include_tag "jquery"
    = javascript_include_tag "plugins/autofade.jquery"
    = javascript_include_tag "plugins/autoscroll.jquery"
    = javascript_include_tag "application"
    = javascript_include_tag "flash"
    = javascript_include_tag "nested_form"
    = csrf_meta_tag
  %body
    = auto_discovery_link_tag :atom, feed_path
    #sidebar
      %a#branding{:href => "/"}
        .title Contented
        .subtitle Keep your content Happy.
      #categories= render :partial => "categories/sidebar"
    #navigation= render :partial => "nav/primary"
    #flash!= show_flash
    #content
      #primary= yield
